<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${meals} and ${meals.size()}">Meals just yet ! :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <tr th:each="meal : ${meals}">
        <td th:text="${meal.name}"></td>
        <td th:text="${meal.description}"></td>
        <td th:text="${meal.category.name}"></td>
    </tr>

</table>
<a href="/meal/add"> Add Meal</a> |
<a href="/meal/remove"> Remove Meal</a>
</body>
</html>